.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0 30px 30px;
}

.heading {
  margin-top: 50px;
  font-size: 2rem;
  color: #ff781e;
}

.list-wrapper {
  display: grid;
  gap: 20px;
  margin-top: 50px;

  @media (min-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1170px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.btn {
  border: none;
  font-size: 16px;
  width: fit-content;
  padding: 12px 20px;
  border-radius: 6px;
  background-color: #ff781e;
  transition: color 0.3s ease-in-out;
  color: whitesmoke;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.warning {
  display: grid;
  place-items: center;
  color: #da1f3c;
  font-size: 1.5rem;
  margin: 50px;
}
